# Azure Blob Storage
AZURE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=TU_STORAGE_ACCOUNT;AccountKey=TU_ACCOUNT_KEY;EndpointSuffix=core.windows.net
AZURE_CONTAINER_NAME=source-data

# GCP BigQuery Configuration
GCP_PROJECT_ID=tu-proyecto-gcp
BQ_DATASET_ID=proyecto3_dw
BQ_TABLE_ID=spotify_wrapped_2025_top50_artists
BQ_LOCATION=us-central1